@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 62.5%;
  --modal-height: 250px;
  --modal-width: 350px;
  --background-color: antiquewhite;
}

body {
  background-color: var(--background-color);
}

body > h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 3rem;
}

.start-modal {
  background-color: rgb(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
}

.start-modal > div {
  background-color: var(--background-color);
  position: fixed;
  width: var(--modal-width);
  height: var(--modal-height);
  border: 2px black solid;
  border-radius: 10px;
  left: calc(50% - var(--modal-width) / 2);
  top: calc(50% - var(--modal-height) / 2);
  padding: 30px;
  font-size: 1.6rem;

  & form {
    margin: 20px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & label {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }

    & input {
      margin-top: 5px;
    }

    & input,
    button,
    label {
      font-size: 1.8rem;
      width: 100%;
      padding: 5px;
    }
  }
}

.board-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

table {
  font-size: 1.6rem;
  text-align: center;
  border: gray solid 2px;
  border-radius: 8px;
  border-collapse: separate;
  border-spacing: 10px;

  & td {
    height: 2lh;
    width: 2lh;
    cursor: pointer;
  }
}
